@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Quicksand", serif;
}

/* Shared styles */

.raleway-font > {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body-max-width {
  max-width: 1200px;
}

.flex {
  display: flex;
}

.color-orange {
  color: #fea301;
}
.color-sky-blue {
  color: #01acfd;
}
.color-cyan {
  color: #05d4df;
}
.color-indigo {
  color: #5d58ef;
}

.color-white {
  color: #fff;
}
.color-medium-gray {
  color: #808080;
}
.center-margin {
  margin: 0 auto;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px 50px;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Header style starts here */
header {
  background-color: #f7f7f7;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-logo {
  align-items: center;
  gap: 10px;
}

.nav-items {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  gap: 30px;
}
.nav-button button {
  border: none;
  background-color: #fea301;
  border-radius: 12px;
  padding: 10px 60px;
  font-size: 1.2rem;
  font-weight: 500;
}

/* banner starts here */
.banner {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.banner-text {
  max-width: 600px;
  padding: 0 20px;
}

.banner-title {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.banner-details {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner-image img {
  width: 100%;
}

.curriculum {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
  background-image: url("../assets/bg.png");
  background-size: cover;

  background-repeat: no-repeat;
}
.curriculum-title {
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin-bottom: 80px;
}

.curriculum-cards {
  /* display: ; */
  gap: 30px;
}

.curriculum-card {
  border-radius: 18px;
  box-shadow: inset 0 0 28px 0.5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  flex-direction: column;
  gap: 30px;
}

.curriculum-card h4 {
  font-size: 1.5rem;
  color: #202020;
}

.curriculum-card p {
  font-size: 0.9rem;
  color: #808080;
}

.curriculum-card a {
  font-size: 0.9rem;
  font-weight: 600;
}
.card-1 {
  border: 1px solid #def5ff;

  background-color: rgb(255, 255, 255);

  background: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}
.card-2 {
  border: 1px solid #fff4dc;
  background: rgb(255, 244, 220);
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

.card-3 {
  border: 1px solid #f2e8ff;
  background: rgb(238, 225, 255);
  background: linear-gradient(
    180deg,
    rgba(238, 225, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

.nav-icon img {
  background-color: #fea301;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  margin: 30px;
}

.ticker {
  font-size: 1.5rem;
}

.nav-icon img:hover {
  background-color: #01acfd;
  scale: 0.9;
}

.stories-section {
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url("../assets/bg.png");

  background: url("../assets/bg.png") center center,
    linear-gradient(0deg, rgb(247, 213, 155) 0%, rgba(247, 247, 247, 1) 100%);
}

.stories-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.story-card-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.stories-title {
  text-align: center;
  font-size: 2.9rem;
  margin-bottom: 80px;
}

.stories-card {
  border-radius: 16px;
  background-color: #fff;
}
.image-container {
  height: 60%;
  /* position: relative; */
}
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -ms-border-radius: 16px 16px 0 0;
  -o-border-radius: 16px 16px 0 0;
}

.back-color-3cd8e8 {
  background-color: #3cd8e8;
}
.back-color-95B226 {
  background-color: #95b226;
}
.back-color-5D58F0 {
  background-color: #5d58f0;
}

.date-div {
  /* background-color: #01acfd; */
  text-align: center;
  height: 40px;
  width: 200px;
  margin-left: 30px;
  padding-top: 10px;
  transform: translateY(-50%);
  border-radius: 40px;
}

.date {
  color: #fff;
  font-size: 0.9rem;
}

.story-card-text {
  /* padding: 40px; */
  font-size: 0.9rem;
  padding: 0 40px;
}
.story-card-text-primary > h5 {
  /* padding: 40px; */
  font-size: 1.5rem;
}

.story-card-1.story-card-text h5 {
  /* padding: 40px; */
  font-size: 0.9rem;
}

.story-card-text p {
  /* padding: 40px; */
  font-size: 0.9rem;
  color: #666666;
  margin-top: 30px;
}

.sotry-button {
  margin-top: 30px;
  text-align: center;
}

footer {
  background-color: #01acfd;
  padding: 120px 0;
}

.footer-container {
  justify-content: space-between;
}
.branding {
  flex-direction: column;
  gap: 35px;
}
.footer-branding {
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}

.branding p {
  max-width: 400px;
}
.logo-text {
  font-size: 2rem;
}
.quick-links li {
  margin-bottom: 20px;
}
.quick-links-title,
.social-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.social-icons a {
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  .nav-logo-text,
  .nav-menu,
  .nav-button,
  .nav-icon,
  .story-card-1 {
    display: none;
  }
  .nav-bar {
    border: 1px solid orange;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .curriculum-cards {
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .stories-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .date-div {
    margin: 0 auto;
  }
  .footer-container {
    flex-direction: column;
    padding-left: 20px;
    gap: 30px;
  }
  .story-card-text {
    padding: 0 20px;
  }
}

@media screen and (min-width: 577px) {
  .responsive-menu-button {
    display: none;
  }
}
